body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

.head h2 {
    font-size: 2.5rem;
}

.head p {
    font-size: 1.2rem;
}

.head button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.head button:hover {
    background-color: #45a049;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #918b8b;
}

.feature {
    background-color: rgb(244, 237, 237);
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}